<div class="container">
    <div class="row main_div">
      <div class="col-md-12">
        <div class="form-group">
        <input id="name" name="name" class="form-control" pattern="^[0-9]*$" required [(ngModel)]="hero.name" #name="ngModel" >

        <div *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.pattern">
            Name cannot be String it should be intager.
          </div>

        </div>
      </div>
      </div>
      <div class="col-md-3">
        
        <div class="form-group">
          <select class="form-control" id="sel1" [(ngModel)]="selectedValue">
            <option value="">Select value</option>
            <option value="objectid" >ObjectId</option>
            <option value="status">Status</option>
          </select>
        </div>
      </div>
      <div class="col-md-3" *ngIf="selectedValue==='objectid' || selectedValue===''">
        <div class="form-group">
          <input id="ObjectId" name="ObjectId" class="form-control"
      required minlength="4" pattern=""
      [(ngModel)]="ObjectId" #name="ngModel" >

        <div *ngIf="ObjectId.invalid && (ObjectId.dirty || ObjectId.touched)"
            class="alert alert-danger">

          <div *ngIf="ObjectId.errors.required">
            Name is required.
          </div>
          <div *ngIf="ObjectId.errors.minlength">
            Name must be at least 4 characters long.
          </div>
          <div *ngIf="ObjectId.errors.forbiddenName">
            Name cannot be Bob.
          </div>

        </div>
          
        </div>
      </div>
      <div class="col-md-3" *ngIf="selectedValue==='status'">
        <div class="form-group">
          <select class="form-control" id="sel1" [(ngModel)]="Status" >
            <option>AB</option>
            <option>DC</option>
            <option>KL</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary">Add</button>
        <span class="btn_space"></span>
        <button class="btn btn-danger">Remove</button>
      </div>
    </div>
    <div class="row btn_center">
      <div class="col-md-12">
        <button (click)="submitvalue()" class="btn btn-primary" >Search</button>
      </div>
    </div>
  </div>
<div class="mat-elevation-z8 table_div">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!-- pop up show all key and values at a time-->

<table class="table">
  <tbody>
    <tr>
      <td *ngFor="let item of mapdata | keyvalue">{{item.key}} {{item.value}}</td>
    </tr>
  </tbody>
</table>

<!-- Pop up end -->

<!-- <button (click)="onclickfuntion()">Welcome </button> -->
<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->